In [2]:
import pandas as pd
import sys

sys.path.insert(0, '../lib')
import scale

test = scale.Scale(tones=[200, 400, 500, 700, 900, 1100, 1200])
print(test.degrees)
print(test.tones)

[1, 2, 3, 4, 5, 6, 7, 8]
[0, 200, 400, 500, 700, 900, 1100, 1200]

In [3]:
major = pd.DataFrame.from_dict({'degree': test.degrees, 'tone': test.tones})
major.head()

   degree  tone
0       1     0
1       2   200
2       3   400
3       4   500
4       5   700

In [11]:
def degree_tones(df):
    return df.set_index('degree').to_dict()['tone']

degree_tones(major)

{1: 0, 2: 200, 3: 400, 4: 500, 5: 700, 6: 900, 7: 1100, 8: 1200}

In [26]:
major.head(8)

   degree  tone
0       1     0
1       2   200
2       3   400
3       4   500
4       5   700
5       6   900
6       7  1100
7       8  1200

In [25]:
major.shape[0]

8

In [19]:
def degrees(df):
    return df['degree'].to_list()

degrees(major)

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
def tones(df):
    return df['tone'].to_list()

tones(major)

[0, 200, 400, 500, 700, 900, 1100, 1200]

In [37]:
def rebuild_degree_tones(df):
    #new_df = df.reset_index(drop=True)
    #new_df.loc[:, 'degree'] = new_df.index + 1\
    df.sort_values(by=['tone'], inplace=True)
    df.reset_index(inplace=True, drop=True)
    df.loc[:, 'degree'] = df.index + 1
    return

def remove_degree(df, degree):
    new_df = df.copy()
    new_df = new_df[new_df['degree'] != degree]
    rebuild_degree_tones(new_df)
    #new_df.reset_index(drop=True, inplace=True)
    #new_df.loc[:, 'degree'] = new_df.index + 1
    return new_df

tmp = remove_degree(major, 3)
tmp.head(8)

   degree  tone
0       1     0
1       2   200
2       3   500
3       4   700
4       5   900
5       6  1100
6       7  1200

In [28]:
def add_tone(df, tone):
    new_df = df.append({'tone': tone}, ignore_index=True)
    #new_df = df.copy()
    #new_df.loc[df.shape[0]] = [{'tone': tone}]
    rebuild_degree_tones(new_df)
    print('new degree: {}'.format(new_df.loc[new_df['tone'] == tone, 'degree'].iloc[0]))
    return new_df

tmp2 = add_tone(tmp, 400)
tmp2.head(8)

new degree: 3

   degree    tone
0       1     0.0
1       2   200.0
2       3   400.0
3       4   500.0
4       5   700.0
5       6   900.0
6       7  1100.0
7       8  1200.0

In [6]:
def add_tone_rel_degree(df, degree, cents):
    return add_tone(df, df.loc[df['degree'] == degree, 'tone'].iloc[0] + cents)

tmp3 = add_tone_rel_degree(tmp, 3, -100)
tmp3.head(8)

   degree    tone
0       1     0.0
1       2   200.0
2       3   400.0
3       4   500.0
4       5   700.0
5       6   900.0
6       7  1100.0
7       8  1200.0

In [88]:
def move_degree(df, degree, cents):
    new_df = df.copy()
    new_df.loc[new_df['degree'] == degree, 'tone'] = df.loc[df['degree'] == degree, 'tone'].iloc[0] + cents
    rebuild_degree_tones(new_df)
    return new_df

tmp4 = move_degree(tmp3, 3, -250)
tmp4.head(8)

   degree    tone
0       1     0.0
1       2   150.0
2       3   200.0
3       4   500.0
4       5   700.0
5       6   900.0
6       7  1100.0
7       8  1200.0